.find-btn{
    font-size:larger;
}


#header-dot_positon{
    position:relative;
}
#header-dot{
    position:absolute;
    color: tomato;
    font-size:1px;
    bottom:15px;
}

#find-menu{
    margin: 10px 20px 10px 20px;
}
.find-icons{
    display:flex;
    justify-content: space-between;
}
.find-icons_icon{
    display:flex;
    flex-direction: column;
    align-items: center;
    font-size:23px;
}
.find-icons_icon>span{
    display: flex;
    width: 70px;
    padding-top: 15px;
    justify-content: center;
    font-size:13px;
}
.recommended-friends{
  margin:25px 0px;
  padding:25px 0px;
  border-top:solid 1px rgba(0,0,0,0.5);
  border-bottom:solid 1px rgba(0,0,0,0.5);
}
.recommended-friends>h6{
    font-size:13px;
    color:rgba(0,0,0,0.5);
}
.recommended-friends>span{
    margin: 100px 0px;
    display:block;
    text-align:center;
    font-size:18px;
    color:rgba(0,0,0,0.5);
}
.open-chat-status_title{
    font-size:16px;
    opacity:0.7;
}

.open-chat-status>span{
    display:block;
    text-align: end;
    opacity:0.5;
    margin-bottom: 10px;
}
.open-chat{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.open-chat-post>h5{
    font-weight:600;
    margin-bottom:10px;
}
.open-chat-post>h6{
    text-transform: uppercase;
    opacity:0.6;
    margin-bottom: 3px;
}
.open-post-member{
    display:flex;
    align-items: center;
}
.open-post-member>img{
    width:22px;
    height:22px;
}
.open-post-member_count{
    opacity: 0.5;
    font-size:15px;
}
.divider{
    width:1px;
    height:15px;
    background-color: rgba(0,0,0,0.3);
    margin: 0 5px;
}
.open-post-member_status{
    font-size:15px;
    color:lightcoral;
}
.open-chat-post{
    position: relative;
}
.open-chat-post>img{
    width:120px;
    height:120px;
    border-radius:10px;
}
.open-chat-post_heart{
    background-color: rgba(0,0,0,0.6);
    color: white;
    padding:5px;
    border-radius:20px;
    display: flex;
    align-items: centers;
    position:absolute;
    right:5px;
    bottom:10px;
}
.open-chat-post_heart>span{
    margin-left:5px;
}