#header-dot_positon{
    position:relative;
}
#header-dot{
    position:absolute;
    color: tomato;
    font-size:1px;
    bottom:15px;
}

#find-menu{
    margin: 10px 20px 10px 20px;
}
.find-icons{
    display:flex;
    justify-content: space-between;
}
.find-icons_icon{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.find-icons_icon>span{
    display: flex;
    width: 70px;
    padding: 15px;
    justify-content: center;
    font-size:13px;
}
.recommended-friends{
  margin:25px 0px;
  padding:25px 0px;
  border-top:solid 1px rgba(0,0,0,0.5);
  border-bottom:solid 1px rgba(0,0,0,0.5);
}
.recommended-friends>h6{
    font-size:13px;
    color:rgba(0,0,0,0.5);
}
.recommended-friends>span{
    margin: 100px 0px;
    display:block;
    text-align:center;
    font-size:18px;
    color:rgba(0,0,0,0.5);
}