.header-status-bar{
    display:flex;
    background-color: white;
    justify-content : space-between;
    font-style: italic;
    padding:10px;
    align-items:center;
    margin: 0px 25px;
    position:relative;
}
.header-status-bar > h1{
    font-size:xx-large;
}
#header-status-bar_icon>i{
    margin-left: 13px;
    font-size: 19px;
}

#follow-count{
    display:flex;
    justify-content : center;
    align-items: center;
    color:rgba(0,0,0,0.5);
    background-color:white;
    padding:5px 0px;
    margin-bottom:10px;
}
#follow-count>i{
    margin-right:10px;
    font-size:20px;
    align-items: center;
}


#friend-menu :not(.follower-avatar>p,.follower-avatar>p>i,.user-avatar>span){
    margin: 0px 20px 10px 20px;
}

.user-avatar>img{
    border-radius:20px;
}

.friend-menu-channel{
    display:flex;
    justify-content:space-between;
    background-color:white;
    margin:20px 0px;
    padding:10px 10px 10px 25px;
    color:rgba(0,0,0,0.7);
    border-top:solid 2px rgba(0,0,0,0.5) ;
}

.user-avatar{
    display:flex;
    flex-direction: row;
    border-radius: 40px;
    font-size:35px;
    color:rgba(0,0,0,0.8);
    margin-bottom:10px;
}
.user-avatar_img{
    height: 80px;
    width: 90px;
}
.user-avatar>span{
    padding-top: 23px;
}

.follower-avatar{
    display:flex;
    flex-direction: row;
    color:rgba(0,0,0,0.8);
    justify-content: space-between;
    position:relative;
}
.follower-avatar_img{
    border-radius: 40px;
    height: 60px;
    width: 60px;
}
.follower-avatar>span{
    position:absolute;
    left:100px;
    top:20px;
    font-size:20px;
    font-weight:900;
    color:rgba(0,0,0,0.6);
} 
.follower-avatar>p{
    margin: 19px;
}
.follower-avatar>p>i{
    align-items: center;
    margin:0px 0px 0px 5px;
}

 