.header-status-bar{
    display:flex;
    background-color:rgb(230, 230, 141);
    justify-content : space-between;
    font-style: italic;
    padding:10px;
    align-items:center;
    margin: 0px 25px;
}
.header-status-bar > h1{
    font-size:xx-large;
}
#header-status-bar_icon>i{
    margin-left: 13px;
    font-size: 18px;
}

#follow-count{
    display:flex;
    justify-content : center;
    align-items: center;
    color:rgba(0,0,0,0.5);
    background-color:rgb(236, 236, 112);
    padding:5px 0px;
    margin-bottom:10px;
}
#follow-count>i{
    margin-right:10px;
    font-size:20px;
    align-items: center;
}


#friend-menu :not(.friend-menu-channel){
    margin: 0px 25px;
}

.user-avatar>img{
    border-radius:15px;
}
.user-avatar>span{
    font-size:30px;
}


.friend-menu-channel{
    display:flex;
    justify-content:space-between;
    background-color:rgb(236, 236, 112);
    margin:20px 0px;
    padding:10px 10px 10px 25px;
    color:rgba(0,0,0,0.7);

}
