.nav{
    background-color:beige;
    position:fixed;
    bottom:0;
    width:100%;
    box-sizing: border-box;
    border-top: 1px solid;
}
.nav-list{
    display:flex;
    padding:10px 30px;
    font-size:30px;
    justify-content:space-between;
}
.nav-btn{
    position:relative;
}
.nav-btn>span{
    position:absolute;
    bottom:17px;
    left: 19px;
    background-color: tomato;
    font-size:15px;
    padding: 3px 7px 4px 7px;
    border-radius:10px;
    color:white;
}
#dot{
    position:absolute;
    color: tomato;
    font-size:0.2cm;
    bottom: 20px;
}

