.setting-header-bar_icon{
    display:flex;
    background-color: white;
    justify-content: center;
    font-style: italic;
    padding:10px;
    margin: 0px 25px;
    align-items: center;
}

.setting-header-bar_icon :nth-child(1){
    margin-right:auto;
    font-size:26px;
}
.setting-header-bar_icon :nth-child(3){
    margin-left: auto;
    font-size:22px;
}
.setting-header-bar_icon :nth-child(4){
    margin-left:23px;
    font-size:22px;
}
.setting-header-bar_icon>h1{
    font-size:22px;
    font-weight: 900;
}
.setting-header-bar_icon i{
    opacity: 0.7;
}
#setting-menu{
    margin: 10px 40px;
}
.setting_column{
    padding:20px 0;
    margin-bottom: 25px;
    border-bottom:solid 1px rgba(0,0,0,0.2)
}
.setting_column-menu{
    margin-bottom: 20px;
    border-bottom:solid 1px rgba(0,0,0,0.05);
    padding-bottom: 20px;
    display: flex;
    align-items: center;
}
.setting_column-menu>i{
    margin-right: 17px;
}
.setting_column-menu>span:not(.setting_menu_text){
    font-size: 16px;
}
.setting_menu_text{
    display: block;
    margin-left:auto;
    align-items: center;
    opacity: 0.52;
    font-size:15px;
}


