@import "reset.css";
@import "header.css";
@import "log-in.css";
@import "status.css";
@import "friends.css";
@import "nav.css";
@import "chats.css";
@import "find.css";
@import "more.css";
body{
background-color:white;
height:1000vh;
}
.more-btn{
    color:grey;
}